*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Rubik Mono One', sans-serif;
}

section{
    position: relative;
    height: 100vh;
    width: 100%;
}

.red{
    background-color: #fe0000;
}

.green{
    background-color: #008000;
}

.yellow{
    background-color: #feff00;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1{
    max-width: 800px;
    text-transform: uppercase;
    font-size: 50px;
    text-align: center;
}

.green,.red h1{
    color: #feff00;
}

.yellow h1{
    color: #008000;
}